<div class="continer">
  <div class="row">
  <h2>ユーザー</h2>
  <br>
  <div class="cat">
  <% @users.each do |user| %>
    <% if user.id != current_user.id %>
  <li>
    <div class="item">
      <%= profile_img(user) %>
      </br>
      <%= link_to user.name, user %>
    </br>
    <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
    <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
  </li>
<% end %>
<% end %>
</div>
</div>
</div>
